*{
	margin: 0;
	padding:0;
}
body{
	font-family: "微软雅黑","宋体";
}
.clear{
	clear: both;
	overflow: hidden;
	height: 0px;
}
/*头部*/
.top{
	width: 100%;
	height: 58px;
	background-color: #191D3A;
	/*固定导航*/
	position: fixed;
	left: 0px;
	top: 0px;
	/*层*/
	z-index: 9999;
}
.top .wrap{
	width: 1000px;
	height: 58px;
	margin: 0 auto;
}
.top .wrap .logo{
	width: 185px;
	height:58px;
	background-image: url(../img/logo.png);
	background-size: cover;
	float: left;
}
.top .wrap ul li{
	list-style: none;
	float: left;
	width: 100px;
	height: 58px;
	text-align: center;
	line-height: 58px;
}
.top .wrap ul li a{
	display: block;
	width: 100px;
	height: 58px;
	color: #816a5c;
	text-decoration: none;
	
}
.top .wrap ul li a:hover{
	color: #ffffff;
	background-color:orange;
}
.top .wrap .jrwm{
	cursor: pointer;
	float: left;
	width: 100px;
	padding-left: 50px;
	padding-top:13px;
}
/*---------------------banner-------------------*/
.aboutbanner{
	width: 100%;
	height: 255px;
	background: url(../img/头.jpg) no-repeat;
	margin-top: 58px;
}
.gywm{
	position: relative;
	width: 1000px;
	height: 58px;
	margin: 0px auto;
	border-bottom: 1px solid gray;
}
.gywm1{
	width: 200px;
	height: 58px;
}
.gywm1 img{
	padding-top: 8px;
	padding-left: 13px;
}
.gywm2{
	float: left;
	width: 200px;
	height: 320px;
	border: 3px solid deepskyblue;
	border-radius: 10px;
	background: rgba(138,43,226,0.4);
}
.gywm2 ul li{
	list-style: none;
	border-bottom: 1px solid gray;
	margin-top: 20px;
}
.gywm2 ul li a{
	text-decoration: none;
	color: black;
}
.gywm2 ul li .li1{
	position:absolute;
	top: 40px;
	right: 0px;
	width: 700px;
	height:600px;
	display: none;
	overflow: hidden;
	overflow-y: scroll;
}
.gywm2 ul li a:hover{
	cursor: pointer;
	color: blue;
	display: block;
}
#gywm3{
	position:absolute;
	top: 40px;
	right: 0px;
	width: 700px;
	height:600px;
	display: none;
	overflow: hidden;
	overflow-y: scroll;
}
#gywm3 ul li{
	list-style: none;
	margin-top:30px;
}
#gywm3 p{
	font-size: 16px;
	margin-top: 40px;
}
#gywm4{
	position:absolute;
	top: 40px;
	right: 0px;
	width: 700px;
	height:600px;
	display: none;
	overflow: hidden;
	overflow-y: scroll;
}
/*#gywm2>ul>li>a.byjj>.li1:hover{
	display: block;
}*/
/*#gywm4:hover{
	visibility: visible;
}*/
.servicesbanner{
	width: 100%;
	height: 255px;
	background: url(../img/头1.jpg) no-repeat;
	margin-top: 58px;
}
.sib1{
	margin: 0px auto;
	margin-top: 40px;
	text-align: center;
	text-align: center;
	line-height:100px ;
}
.sib1 ul li{
	 display: inline-block;
	width: 300px;
	height: 200px;
	border: 1px solid red;
	background-color: rgba(241,241,241,0.9);
	border-radius: 10px;
	margin-right: 20px;
}
.banner{
	/*父级相对定位*/
	position: relative;
	top:58px;
	height:465px;
	background-image:url(../img/banner.jpg);
	
}
.banner .dian{
	position: absolute;
	left: 50%;
	margin-left:-70px;
	bottom:15px;
	
	width: 140px;
	height: 12px;
	/*border:1px solid red;*/
}
.banner .dian ul li{
	list-style: none;
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	border: 1px solid white;
	background: white;
	
	margin-left: 5px;
	/*小手*/
	cursor: pointer;
}
.banner .dian ul li:hover{
	background: orange;
}
/*内容部分*/
/*游戏*/
.content{
	 width: 1000px;
	 margin: 0px auto;
}
.content .bygame{
	height:230px;
	padding-top: 50px;
	/*底边框*/
    border-bottom: 1px solid #dbe1e7;
   /*相对定位*/
   position: relative;
}
.content .bygame ul li{
	float: left;
	list-style: none;
	width: 230px;
	padding:0px 10px;
	text-align: center;
	display: inline-block;
}
.content .bygame ul li img{
	width:230px;
	height:130px;
}
.content .bygame ul li h4{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
}
.content .bygame ul li p a{
	text-decoration: none;
	font-size: 14px;
	padding-right: 10px;
	color: #30bc73;
	background:url(../img/sanjiaoxing.png) no-repeat right center;
}
/*点*/
.content .bygame .dian2{
	position: absolute;
	left: 50%;
	margin-left: -61px;
	bottom: -3px;
	width: 122px;
	height: 12px;
	background: #FFF;
}
.content .bygame .dian2 ol li{
	 list-style: none;
	 display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 5px;
	border-radius: 50%;
	background: #b5c0cb;
	cursor: pointer;
}
.content .bygame .dian2 ol li:hover{
	background: green;
}
/*新闻*/
.content .bynewZhao{
	height: 320px;
	padding-top: 50px;
}
.content .bynewZhao .xinwen{
	position:relative;
	float: left;
	width: 500px;
	height: 320px;
	background: url(../img/bynewsbg.jpg) left top no-repeat;
}
.content .bynewZhao .xinwen .more{
	position: absolute;
	left: 215px;
	top: 40px;
}
.content .bynewZhao .xinwen ul{
	padding-top: 115px;
}
.content .bynewZhao .xinwen ul li{
	list-style: none;
	height:50px;
	width:460px ;
	line-height:50px;
	border-bottom: 1px solid #dbe1e7;
}
.content .bynewZhao .xinwen ul li .time{
	font-size: 14px;
	color: lightgray;
	/*padding-left:0px 20px;*/
	padding: 0px 20px;
}
.content .bynewZhao .xinwen ul li a{
	text-decoration: none;
	color: #000;
	font-size: 14px;
}
.content .bynewZhao .xinwen ul li a:hover{
	color:#2fbc70;
}
/*招聘*/
.content .bynewZhao .zhao{
	position: relative;
	float: left;
	width: 500px;
	height: 320px;
	
	background: url(../img/byhrbg3.jpg) no-repeat;
}
.content .bynewZhao .zhao .more2{
	position: absolute;
	left: 190px;
	top: 45px;
}
.content .bynewZhao .zhao .tou{
	padding-top:40px ;
	padding-left:80px ;
	color:#fff;
}
.content .bynewZhao .zhao .tou p{
	font-size: 12px;
}
.content .bynewZhao .zhao .zpgw{
	color: #FFF;
	width: 310px;
	height: 170px;
	font-size: 14px;
	padding-left: 20px;
	padding-top: 20px;
}
.content .bynewZhao .zhao .zpgw ul li{
	list-style: none;
	width:300px ;
	height:40px ;
	line-height: 40px;
	border-bottom: 1px solid #6fdea3;
}
.content .bynewZhao .zhao .zpgw ul li a{
	text-decoration: none;
	color: #FFF;
}
.content .bynewZhao .zhao .zpgw ul li a:hover{
	color:gray;
}
.foot{
	height: 90px;
	line-height:90px;
	background: #191d3a;
	font-size:10px;
	color:#6c6e7e;
}
.foot .footIn{
	width: 1000px;
	margin:0px auto;
}
.foot .footIn .inLeft{
	float: left;
}
.foot .footIn .inLeft a{
   text-decoration: none;
   color:#6c6e7e;
}
.foot .footIn .inRight{
	position: relative;
	float: right;
	padding-right:40px;
}
.foot .footIn .inRight img{
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top:-20px ;
	width:30px;
	height:40px;
}
/*返回头部*/
.toTop{
	position: fixed;
    width:70px;
    height:30px;
    right:30px ;
    bottom: 60px;
    text-align: center;
    line-height: 30px;
 
    
    background-color:#c7d6e5;
    border-radius: 5px;
    
}
.toTop a{
	/*下划线*/
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color:ghostwhite;
}
.toTop img{
	width: 8px;
	height:8px;
	margin-right: 3px;
	margin-bottom: 2px;
}
